/music/
/.cache/
.DS_Store
.cache/41/cache.db
/.cache
.DS_Store
/model_checkpoints
/data
/Data Streaming/Audio Streaming/recordings
/Agent Tools/Audio Monitor/plots
Agent Tools/Audio Monitor/audio_classification_log.csv
/Data Streaming/Audio Streaming/recordings
/Agent Clinic/.cache
Django/db.sqlite3
Monitors/Audio Monitor/plots/labels_presence_over_time.png
Monitors/Audio Monitor/audio_classification_log.csv
MoA Report Writer/results
Backend/data
Backend/model_checkpoints
Backend/results
Report Writer/GDriveResultsVisualization.ipynb
Report Writer/ReportWriterVisualization.ipynb
Inference Benchmarking/Audio Transformer/AudioTransformer.mlpackage
Inference Benchmarking/Audio Transformer/AudioTransformer.ckpt
Inference Benchmarking/Audio Transformer/AudioTransformer.pt
Training Files/Audio Transformer/out.txt
Training Files/Audio Transformer.zip
Training Files/Vision Transformer.zip
Training Files/Vision CNN/Checkpoint_MPS.ckpt
Training Files/Vision CNN/raw_data
Training Files/Vision CNN/Checkpoint_CPU.ckpt
Training Files/Vision CNN/lightning_logs
Training Files/Vision CNN/data