{% extends "base.html" %}

{% block head %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Futuristic Sleep Monitor</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="hero">
    <img src="{% static 'images/SleepMonitorLogo.png' %}" alt="Sleep Monitor Logo" width="240" height="240" style="padding: 20px;">
    
    <h1 id="typing-effect"></h1>
    <script src="{% static 'js/typing.js' %}"></script>
    <!-- <h1>Welcome to the Future of Sleep</h1> -->
    <p>Experience the ultimate personalized and private sleep monitoring system.</p>
    <a href="{% url 'about us' %}"><button>Learn More</button></a>
</section>
{% endblock %}